.toggle-checkbox {
   position: absolute;
   opacity: 0;
   cursor: pointer;
   height: 0;
   width: 0;
}

.toggle-slot {
   position: relative;
   height: 2em;
   width: 5em;
   border: 2px solid #e4e7ec;
   border-radius: 2em;
   background-color: white;
   transition: background-color 250ms;
}

.toggle-checkbox:checked~.toggle-slot {
   background-color: #232a44;
}

.toggle-button {
   transform: translate(3.05em, 0.25em);
   position: absolute;
   height: 1.5em;
   width: 1.5em;
   border-radius: 50%;
   background-color: #e98e8c;
   box-shadow: inset 0px 0px 0px 0.25em #f58b98;
   transition: background-color 250ms, border-color 250ms, transform 500ms cubic-bezier(.26, 2, .46, .71);
}

.toggle-checkbox:checked~.toggle-slot .toggle-button {
   background-color: #485367;
   box-shadow: inset 0px 0px 0px 0.75em white;
   transform: translate(0.3em, 0.25em);
}

.sun-icon {
   position: absolute;
   height: 1.5em;
   width: 1.5em;
   color: #fe7585;
}

.sun-icon-wrapper {
   position: absolute;
   height: 1.5em;
   width: 1.5em;
   transform: translate(0.5em, 0.25em) rotate(15deg);
   opacity: 1;
   transform-origin: 50% 50%;
   transition: opacity 150ms, transform 500ms cubic-bezier(.26, 2, .46, .71);
}

.toggle-checkbox:checked~.toggle-slot .sun-icon-wrapper {
   opacity: 0;
   transform: translate(0.75em, 0.25em) rotate(0deg);
}

.moon-icon {
   position: absolute;
   height: 1.5em;
   width: 1.5em;
   color: white;
}

.moon-icon-wrapper {
   position: absolute;
   height: 1.5em;
   width: 1.5em;
   transform: translate(3.05em, 0.25em) rotate(0deg);
   opacity: 0;
   transform-origin: 50% 50%;
   transition: opacity 150ms, transform 500ms cubic-bezier(.26, 2.5, .46, .71);
}

.toggle-checkbox:checked~.toggle-slot .moon-icon-wrapper {
   opacity: 1;
   transform: translate(3.05em, 0.25em) rotate(-15deg);
}