@import "@fontsource/inter-tight/200.css";
@import "@fontsource/inter-tight/400.css";

html {
   -webkit-text-size-adjust: 100%;
   text-size-adjust: 100%;
}

:root {
   --bg: #f7f8f3;
}

a {
   color: var(--a);
}

body {
   background: var(--bg) !important;
   background-size: cover;
   overflow-x: hidden !important;
   overflow-y: hidden !important;
   height: 100%;
   transition:
      background-color 0.5s ease,
      color 0.5s ease,
      fill 0.5s ease;
}

ul {
   list-style: none;
}

li {
   margin: 0;
   padding: 0;
   border: 0;
   font-size: 100%;
   font: inherit;
   vertical-align: baseline;
}

@media (
   prefers-reduced-motion: reduce
) {
   *,
   *::before,
   *::after {
      animation-duration:
         0.01ms !important;

      animation-iteration-count:
         1 !important;

      transition-duration:
         0.01ms !important;
   }
}