@import url("https://fonts.googleapis.com/css2?family=Inter+Tight:wght@200;400&display=swap");

* {
   -webkit-user-select: none;
   -ms-user-select: none;
   user-select: none;
}

a {
   color: #fe7585;
}

:root {
   --collapsible-transition-fn: ease;
   --collapsible-transition-duration: 0.3s;
   --collapsible-padding: 0.6rem;
}

.collapsible-header {
   appearance: none;
   width: 100%;
   background-color: #f4c7c6;
   border: none;
   padding: var(--collapsible-padding);
   display: block;
   font-size: 1.2rem;
   cursor: pointer;
   text-align: initial;
   position: relative;
   animation: 500ms;
   border-radius: 15px;
   color: #FBFBFB;
}

.collapsible-header::after {
   color: #f2bbba;
   content: "►";
   position: absolute;
   right: 2%;
   transition: transform var(--collapsible-transition-duration) var(--collapsible-transition-fn);
}

.collapsible-header:has(+ .active)::after {
   transform: rotate(90deg);
}

.collapsible-header+* {
   max-height: 0;
   margin-bottom: 0.2rem;
   background-color: #f6d2d1;
   overflow-y: hidden;
   will-change: max-height;
   border-radius: 0 0 15px 15px;
   transition: max-height var(--collapsible-transition-duration) var(--collapsible-transition-fn);
}

.collapsible-content {
   color: #FBFBFB;
   padding: var(--collapsible-padding);
}

@keyframes fadeInfadeOut {
   0% {
      opacity: 0;
      animation-timing-function: cubic-bezier(0.25, 1.0, 1.0, 1.0);
   }

   40% {
      opacity: 1;
   }

   50% {
      opacity: 1;
   }

   60% {
      opacity: 1;
   }

   100% {
      opacity: 0;
      animation-timing-function: cubic-bezier(0.01, 1.0, 1.0, 1.0);
      visibility: hidden;
   }
}

@keyframes scale {

   from,
   to {
      transform: scale(0);
   }

   50% {
      transform: scale(1);
   }
}

@keyframes rotate {
   from {
      transform: rotate(0deg);
   }

   to {
      transform: rotate(180deg);
   }
}