@import url("./global.css");

.swiper-pagination {
   position: absolute !important;
}

.swiper {
   transition: 200ms ease-in-out;
}

.swiper-pagination-bullet {
   padding: 5px 10px !important;
   border-radius: 10px !important;
   width: auto !important;
   height: 20px !important;
   text-align: center !important;
   line-height: 20px !important;
   font-size: 12px !important;
   color: var(--bullet-color) !important;
   border: solid var(--bullet-color) 2px !important;
   opacity: 1 !important;
   background: var(--bullet-background-color) !important;
   font-family: "Inter Tight", sans-serif !important;
   transition: 500ms;
}

.swiper-pagination-bullet-active {
   background: var(--bullet-active-color) !important;
   text-decoration: none !important;
   transition: 500ms;
}

.swiper-pagination-bullet:hover {
   background: var(--bullet-active-color) !important;
   text-decoration: none !important;
   transition: 500ms;
}